<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div>
          <div class="logo">A</div>
          <a href="">OdinBox</a>
        </div>
        <nav>
          <ul>
            <% if (username) { %>
            <li>
              <p>Welcome back, <%= username %></p>
            </li>
            <li><a href="/log-out">Log out</a></li>
            <% } else { %>
            <li><a href="/log-in">Log in</a></li>
            <li><a href="/sign-up">Sign up</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="page wrapper">
      <aside>
        <div>
          <a href="">Root Directory</a>
        </div>
        <div>
          <a href="">Shared folder</a>
        </div>
        <div class="map"></div>
        <div>
          <a href="">Trash bin</a>
        </div>
      </aside>
      <main>
        <div class="top">
          <div class="path"></div>
          <div class="new">
            <dialog>
              <div class="form-container">
                <h4>Create New Folder</h4>
                <form action="/storage/folder/new" method="POST">
                  <input
                    type="text"
                    name="name"
                    placeholder="Folder Name"
                    required
                  />
                  <input
                    type="hidden"
                    name="folderId"
                    value="<%= folderId %>"
                    required
                  />
                  <button type="submit">Create Folder</button>
                </form>
              </div>
            </dialog>
            <button>New folder</button>
            <dialog>
              <div class="form-container">
                <h4>Upload New File</h4>
                <form
                  action="/storage/file/upload"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <input type="file" name="file" required />
                  <input
                    type="hidden"
                    name="folderId"
                    value="<%= folderId %>"
                    required
                  />
                  <button type="submit">Upload File</button>
                </form>
              </div>
            </dialog>
            <button>File upload</button>
          </div>
        </div>
        <div class="bottom">
          <div class="content">
            <div>Name</div>
            <div>Last modified</div>
            <div>Size</div>
            <div>Action</div>
          </div>
          <ul class="content">
            <% contents.folders.forEach((folder) => { %>
            <li>
              <div>
                <a href="/storage/dir/<%= folder.id %>"><%= folder.name %></a>
              </div>
              <div>
                <%= new Date(folder.updatedAt).toLocaleDateString('en-GB', {
                year: 'numeric', month: 'short', day: 'numeric', hour:
                'numeric', minute: 'numeric', hour12: true }) %>
              </div>
              <div></div>
              <div>
                <a href="/storage/folder/rename/<%= folder.id %>">rename</a>
                <a href="/storage/folder/share/<%= folder.id %>">share</a>
                <a href="/storage/folder/trash/<%= folder.id %>"
                  >Send to trash</a
                >
                <a href="/storage/folder/details/<%= folder.id %>"
                  >more details</a
                >
              </div>
            </li>
            <% }); %> <% contents.files.forEach((file) => { %>
            <li>
              <div><%= file.name %></div>
              <div>
                <%= new Date(file.updatedAt).toLocaleDateString('en-GB', { year:
                'numeric', month: 'short', day: 'numeric', hour: 'numeric',
                minute: 'numeric', hour12: true }) %>
              </div>
              <div><%= Math.round(file.size / 1024) %> kbs</div>
              <div>
                <a href="/storage/file/rename/<%= file.id %>">rename</a>
                <a href="/storage/file/share/<%= file.id %>">share</a>
                <a href="/storage/file/trash/<%= file.id %>">Send to trash</a>
                <a href="/storage/file/details/<%= file.id %>">more details</a>
              </div>
            </li>
            <% }); %>
          </ul>
        </div>
      </main>
    </div>
    <script>
      const dialogBoxes = document.querySelectorAll("dialog");
      dialogBoxes.forEach((box) => {
        const openBtn = box.nextElementSibling;
        openBtn.addEventListener("click", () => box.showModal());
      });
    </script>
  </body>
</html>
