<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div>
          <div class="logo">A</div>
          <a href="">OdinBox</a>
        </div>
        <nav>
          <ul>
            <% if (username) { %>
            <li>
              <p>Welcome back, <%= username %></p>
            </li>
            <li><a href="/log-out">Log out</a></li>
            <% } else { %>
            <li><a href="/log-in">Log in</a></li>
            <li><a href="/sign-up">Sign up</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="page wrapper">
      <aside>
        <% if (username) { %>
        <div>
          <a href="/storage">Root Directory</a>
        </div>
        <div>
          <a href="/storage/shared">Shared folder</a>
        </div>
        <% } %>
        <div class="map"></div>
        <% if (username) { %>
        <div>
          <a href="/storage/trash">Trash bin</a>
        </div>
        <% } %>
      </aside>
      <main>
        <div class="top">
          <div class="path">
            <% if (state === "storage") { %>
            <p>path to the file</p>
            <% } %> <% if (state === "trash") { %>
            <p>Trash bin</p>
            <% } %> <% if (state === "shared") { %>
            <p>Shared files and folders</p>
            <% } %>
          </div>
          <% if (username && state === "storage") { %>
          <div class="new">
            <dialog>
              <div class="form-container">
                <h4>Create New Folder</h4>
                <form action="/storage/folder/new" method="POST">
                  <input
                    type="text"
                    name="name"
                    placeholder="Folder Name"
                    required
                  />
                  <input
                    type="hidden"
                    name="folderId"
                    value="<%= folderId %>"
                    required
                  />
                  <button type="submit">Create Folder</button>
                </form>
              </div>
            </dialog>
            <button>New folder</button>
            <dialog>
              <div class="form-container">
                <h4>Upload New File</h4>
                <form
                  action="/storage/file/upload"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <input type="file" name="file" required />
                  <input
                    type="hidden"
                    name="folderId"
                    value="<%= folderId %>"
                    required
                  />
                  <button type="submit">Upload File</button>
                </form>
              </div>
            </dialog>
            <button>File upload</button>
          </div>
          <% } %>
        </div>
        <div class="bottom">
          <% if (state !== "shared") { %>
          <div class="content">
            <div>Name</div>
            <div>Last modified</div>
            <div>Size</div>
            <div>Action</div>
          </div>
          <ul class="content">
            <% contents.folders.forEach((folder) => { %>
            <li>
              <div>
                <a href="/storage/dir/<%= folder.id %>"><%= folder.name %></a>
              </div>
              <div>
                <%= new Date(folder.updatedAt).toLocaleDateString('en-GB', {
                year: 'numeric', month: 'short', day: 'numeric', hour:
                'numeric', minute: 'numeric', hour12: true }) %>
              </div>
              <div></div>
              <div>
                <div>
                  <dialog>
                    <form
                      action="/storage/folder/rename/<%= folder.id %>"
                      method="POST"
                    >
                      <button type="submit">Rename</button>
                    </form>
                  </dialog>
                  <button>Rename</button>
                </div>
                <div>
                  <dialog>
                    <form action="/storage/shared/new" method="POST">
                      <input type="datetime-local" name="expiresAt" />
                      <input
                        type="hidden"
                        name="itemId"
                        value="<%= folder.id %>"
                      />
                      <input type="hidden" name="type" value="folder" />
                      <button type="submit">Share</button>
                    </form>
                  </dialog>
                  <button>Share</button>
                </div>
                <% if (state === "trash") { %>
                <div>
                  <form
                    action="/storage/folder/restore/<%= folder.id %>"
                    method="POST"
                  >
                    <button type="submit">Restore</button>
                  </form>
                </div>
                <% } else {%>
                <div>
                  <form
                    action="/storage/folder/trash/<%= folder.id %>"
                    method="POST"
                  >
                    <button type="submit">Send to Trash</button>
                  </form>
                </div>
                <% } %>
                <div>
                  <button
                    onclick="detailsReview(`<%= folder.name %>`,`<%=  folder.createdAt %>`,`<%=  folder.updatedAt %>`,`<%=  folder.ShareLinks %>`,`folder`,`coming soon`)"
                  >
                    More Details
                  </button>
                </div>
              </div>
            </li>
            <% }); %> <% contents.files.forEach((file) => { %>
            <li>
              <div><%= file.name %></div>
              <div>
                <%= new Date(file.updatedAt).toLocaleDateString('en-GB', { year:
                'numeric', month: 'short', day: 'numeric', hour: 'numeric',
                minute: 'numeric', hour12: true }) %>
              </div>
              <div><%= Math.round(file.size / 1024) %> kbs</div>
              <div>
                <div>
                  <dialog>
                    <form
                      action="/storage/file/rename/<%= file.id %>"
                      method="POST"
                    >
                      <button type="submit">Rename</button>
                    </form>
                  </dialog>
                  <button>Rename</button>
                </div>
                <div>
                  <dialog>
                    <form action="/storage/shared/new" method="POST">
                      <input type="datetime-local" name="expiresAt" />
                      <input
                        type="hidden"
                        name="itemId"
                        value="<%= file.id %>"
                      />
                      <input type="hidden" name="type" value="file" />
                      <button type="submit">Share</button>
                    </form>
                  </dialog>
                  <button>Share</button>
                </div>
                <% if (state === "trash") { %>
                <div>
                  <form
                    action="/storage/file/trash/<%= file.id %>"
                    method="POST"
                  >
                    <button type="submit">Restore</button>
                  </form>
                </div>
                <% } else {%>
                <div>
                  <form
                    action="/storage/file/restore/<%= file.id %>"
                    method="POST"
                  >
                    <button type="submit">Send to Trash</button>
                  </form>
                </div>
                <% } %>
                <div>
                  <button
                    onclick="detailsReview(`<%= file.name %>`,`<%=  file.createdAt %>`,`<%=  file.updatedAt %>`,`<%=  file.ShareLinks %>`,`<%=  file.fileType %>`,`<%=  file.size %>`)"
                  >
                    More Details
                  </button>
                </div>
              </div>
            </li>
            <% }); %>
          </ul>
          <% } else {%>
          <p>shared</p>
          <% } %>
        </div>
      </main>
    </div>
    <script>
      const dialogBoxes = document.querySelectorAll("dialog");
      dialogBoxes.forEach((box) => {
        const openBtn = box.nextElementSibling;
        openBtn.addEventListener("click", () => box.showModal());
      });

      function detailsReview(name, createdAt, updatedAt, shares, type, size) {
        console.log(name);
        console.log(createdAt);
        console.log(updatedAt);
        console.log(shares);
        console.log(type);
        console.log(size);
      }
    </script>
  </body>
</html>
