<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>OdinBox</title>
  </head>
  <body>
    <header>
      <div class="header wrapper">
        <div>
          <div class="logo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="36px"
              viewBox="0 -960 960 960"
              width="36px"
              fill="#f9d84b"
            >
              <path
                d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H260Zm0-80h480q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41Zm220-240Z"
              />
            </svg>
          </div>
          <a href="/">OdinBox</a>
        </div>
        <nav>
          <ul>
            <% if (username) { %>
            <li>
              <p>Welcome back, <%= username %></p>
            </li>
            <li><a href="/log-out">Log out</a></li>
            <% } else { %>
            <li><a href="/log-in">Log in</a></li>
            <li><a href="/sign-up">Sign up</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
      <div class="separator"></div>
    </header>
    <div class="page wrapper">
      <aside>
        <% if (username) { %>
        <div>
          <a href="/storage">Root Directory</a>
        </div>
        <div>
          <a href="/storage/shared">Shared folder</a>
        </div>
        <% } %>
        <div>
          <p>Contents tree</p>
        </div>
        <div class="map">
          <ul class="tree">
            <% function renderTree(array) { %> <% array.forEach(item => { %>
            <li class="tree-item">
              <div class="folder-header">
                <button class="toggle-btn" onclick="toggleFolder(this)">
                  <svg
                    class="folder-icon collapsed"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#5f6368"
                  >
                    <path
                      d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"
                    />
                  </svg>
                  <svg
                    class="folder-icon expanded"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#5f6368"
                  >
                    <path
                      d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640H447l-80-80H160v480l96-320h684L837-217q-8 26-29.5 41.5T760-160H160Zm84-80h516l72-240H316l-72 240Zm0 0 72-240-72 240Zm-84-400v-80 80Z"
                    />
                  </svg>
                </button>
                <% if (view === "private") { %>
                <a href="/storage/dir/<%= item.id %>"><%= item.name %></a>
                <% } else { %>
                <a href="/shared/<%= linkId %>/<%= item.id %>"
                  ><%= item.name %></a
                >
                <% } %>
              </div>
              <div class="folder-content collapsed">
                <% if (item.children && item.children.length > 0) { %>
                <ul class="folders">
                  <% renderTree(item.children, false) %>
                </ul>
                <% } %> <% if (item.files && item.files.length > 0) { %>
                <ul class="files">
                  <% item.files.forEach(file => { %>
                  <li class="file-item">
                    <svg
                      class="file-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="24px"
                      fill="#5f6368"
                    >
                      <path
                        d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
                      />
                    </svg>
                    <% if (view === "private") { %>
                    <a href="/storage/download/<%= file.id %>"
                      ><%= file.name %></a
                    >
                    <% } else { %>
                    <a href="/download/shared/<%= file.id %>"
                      ><%= file.name %></a
                    >
                    <% } %>
                  </li>
                  <% }); %>
                </ul>
                <% } %>
              </div>
            </li>
            <% }); %> <% } %>
            <div class="folder-content">
              <!-- ernder root folders -->
              <% renderTree(map) %>
              <!-- ernder root files if any -->
              <% if (listContents && listContents.files &&
              listContents.files.length > 0 && !folderId) { %>
              <ul class="files">
                <% listContents.files.forEach(file => { %>
                <li class="file-item">
                  <svg
                    class="file-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#5f6368"
                  >
                    <path
                      d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
                    />
                  </svg>
                  <% if (view === "private") { %>
                  <a href="/storage/download/<%= file.id %>"
                    ><%= file.name %></a
                  >
                  <% } else { %>
                  <a href="/download/shared/<%= file.id %>"><%= file.name %></a>
                  <% } %>
                </li>
                <% }); %>
              </ul>
              <% } %>
            </div>
          </ul>
        </div>

        <% if (username) { %>
        <div>
          <a href="/storage/trash">Trash bin</a>
        </div>
        <% } %>
      </aside>
      <main>
        <div class="top">
          <div class="path">
            <% if (state === "storage") { %>
            <p><%= folderName %></p>
            <% } %> <% if (state === "trash") { %>
            <p>Trash bin</p>
            <% } %> <% if (state === "shared") { %>
            <p>Shared files and folders</p>
            <% } %>
          </div>
          <% if (username && state === "storage") { %>
          <div class="new">
            <dialog>
              <div class="form-container">
                <form action="/storage/folder/new" method="POST">
                  <h4>Create New Folder</h4>
                  <input
                    type="text"
                    name="name"
                    placeholder="Folder Name"
                    required
                  />
                  <input
                    type="hidden"
                    name="folderId"
                    value="<%= folderId %>"
                    required
                  />
                  <button type="submit">Create Folder</button>
                </form>
              </div>
            </dialog>
            <button>
              New folder
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M560-320h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"
                />
              </svg>
            </button>
            <dialog>
              <div class="form-container">
                <form
                  action="/storage/file/upload"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <h4>Upload New File</h4>
                  <input type="file" name="file" required />
                  <input
                    type="hidden"
                    name="folderId"
                    value="<%= folderId %>"
                    required
                  />
                  <button type="submit">Upload File</button>
                </form>
              </div>
            </dialog>
            <button>
              Upload file
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M440-200h80v-167l64 64 56-57-160-160-160 160 57 56 63-63v167ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
                />
              </svg>
            </button>
          </div>
          <% } %>
        </div>
        <div class="bottom">
          <% if (state !== "shared") { %>
          <ul class="content">
            <div class="first">Name</div>
            <div class="first">Last modified</div>
            <div class="first">Size</div>
            <div class="first">Action</div>
            <% contents.folders.forEach((folder) => { %>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"
                />
              </svg>
              <% if (view === "private") { %>
              <a href="/storage/dir/<%= folder.id %>"><%= folder.name %></a>
              <% } else { %>
              <a href="/shared/<%= linkId %>/<%= folder.id %>"
                ><%= folder.name %></a
              >
              <% } %>
            </div>
            <div>
              <%= new Date(folder.updatedAt).toLocaleDateString('en-GB', { year:
              'numeric', month: 'short', day: 'numeric', hour: 'numeric',
              minute: 'numeric', hour12: true }) %>
            </div>
            <div>--</div>
            <div>
              <% if (view === "private") { %> <% if (state === "trash") { %>
              <div>
                <dialog>
                  <form
                    action="/storage/folder/delete/<%= folder.id %>"
                    method="POST"
                  >
                    <h4>are you sure you want to delete?</h4>
                    <button type="submit">delete</button>
                  </form>
                </dialog>
                <button>delete</button>
              </div>
              <% } else {%>
              <div>
                <dialog>
                  <form
                    action="/storage/folder/rename/<%= folder.id %>"
                    method="POST"
                  >
                    <h4>enter the new name</h4>
                    <input type="text" name="newName" required />
                    <button type="submit">Rename</button>
                  </form>
                </dialog>
                <button>Rename</button>
              </div>
              <% } %> <% if (state !== "trash") { %>
              <div>
                <dialog>
                  <form action="/storage/shared/new" method="POST">
                    <input type="datetime-local" name="expiresAt" />
                    <input
                      type="hidden"
                      name="itemId"
                      value="<%= folder.id %>"
                    />
                    <input type="hidden" name="type" value="folder" />
                    <button type="submit">Share</button>
                  </form>
                </dialog>
                <button>Share</button>
              </div>
              <% } %> <% if (state === "trash") { %>
              <div>
                <form
                  action="/storage/folder/restore/<%= folder.id %>"
                  method="POST"
                >
                  <button type="submit">Restore</button>
                </form>
              </div>
              <% } else {%>
              <div>
                <form
                  action="/storage/folder/trash/<%= folder.id %>"
                  method="POST"
                >
                  <button type="submit">Send to Trash</button>
                </form>
              </div>
              <% } %> <% } %>
              <div>
                <dialog class="details">
                  <div>
                    <p>Name: <%= folder.name %></p>
                    <p>Type: folder</p>
                    <p>Created at: <%= folder.createdAt %></p>
                    <p>Last modified: <%= folder.updatedAt %></p>
                  </div>
                </dialog>
                <button>More Details</button>
              </div>
            </div>
            <% }); %> <% contents.files.forEach((file) => { %>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
                />
              </svg>

              <% if (view === "private") { %>
              <a href="/storage/download/<%= file.id %>"><%= file.name %></a>
              <% } else { %>
              <a href="/download/shared/<%= file.id %>"><%= file.name %></a>
              <% } %>
            </div>
            <div>
              <%= new Date(file.updatedAt).toLocaleDateString('en-GB', { year:
              'numeric', month: 'short', day: 'numeric', hour: 'numeric',
              minute: 'numeric', hour12: true }) %>
            </div>
            <div><%= Math.round(file.size / 1024) %> kbs</div>
            <div>
              <% if (view === "private") { %> <% if (state === "trash") { %>
              <div>
                <dialog>
                  <form
                    action="/storage/file/delete/<%= file.id %>"
                    method="POST"
                  >
                    <h4>are you sure you want to delete?</h4>
                    <button type="submit">delete</button>
                  </form>
                </dialog>
                <button>delete</button>
              </div>
              <% } else {%>
              <div>
                <dialog>
                  <form
                    action="/storage/file/rename/<%= file.id %>"
                    method="POST"
                  >
                    <h4>enter the new name</h4>
                    <input type="text" name="newName" required />
                    <button type="submit">Rename</button>
                  </form>
                </dialog>
                <button>Rename</button>
              </div>
              <% } %> <% if (state !== "trash") { %>
              <div>
                <dialog>
                  <form action="/storage/shared/new" method="POST">
                    <input type="datetime-local" name="expiresAt" />
                    <input type="hidden" name="itemId" value="<%= file.id %>" />
                    <input type="hidden" name="type" value="file" />
                    <button type="submit">Share</button>
                  </form>
                </dialog>
                <button>Share</button>
              </div>
              <% } %> <% if (state === "trash") { %>
              <div>
                <form
                  action="/storage/file/restore/<%= file.id %>"
                  method="POST"
                >
                  <button type="submit">Restore</button>
                </form>
              </div>
              <% } else {%>
              <div>
                <form action="/storage/file/trash/<%= file.id %>" method="POST">
                  <button type="submit">Send to Trash</button>
                </form>
              </div>
              <% } %> <% } %>
              <div>
                <dialog class="details">
                  <div>
                    <p>Name: <%= file.name %></p>
                    <p>Type: <%= file.fileType %></p>
                    <p>Created at: <%= file.createdAt %></p>
                    <p>Last modified: <%= file.updatedAt %></p>
                    <p>Size: <%= file.size %></p>
                  </div>
                </dialog>
                <button>More Details</button>
              </div>
            </div>
            <% }); %>
          </ul>
          <% } else {%>
          <ul class="content">
            <div class="first">Name</div>
            <div class="first">Expiry time</div>
            <div class="first">Public link</div>
            <div class="first">Action</div>

            <!-- Loop over folders -->
            <% contents.folders.forEach((folder) => { %>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"
                />
              </svg>
              <a href="/storage/dir/<%= folder.folder.id %>"
                ><%= folder.folder.name %></a
              >
            </div>
            <div>
              <%= new Date(folder.expiresAt).toLocaleDateString('en-GB', { year:
              'numeric', month: 'short', day: 'numeric', hour: 'numeric',
              minute: 'numeric', hour12: true }) %>
            </div>
            <div>
              <dialog>
                <div>
                  <p><%= url %>/shared/<%= folder.id %></p>
                </div>
              </dialog>
              <button>View</button>
            </div>
            <div>
              <div>
                <dialog>
                  <form
                    action="/storage/shared/delete/<%= folder.id %>"
                    method="POST"
                  >
                    <h4>Are you sure you want to unshare?</h4>
                    <button type="submit">Confirm</button>
                  </form>
                </dialog>
                <button>Unshare</button>
              </div>
              <div>
                <dialog class="details">
                  <div>
                    <p>Name: <%= folder.folder.name %></p>
                    <p>Type: Folder</p>
                    <p>Created at: <%= folder.folder.createdAt %></p>
                    <p>Last modified: <%= folder.folder.updatedAt %></p>
                  </div>
                </dialog>
                <button>More Details</button>
              </div>
            </div>
            <% }); %>

            <!-- Loop over files -->
            <% contents.files.forEach((file) => { %>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
                />
              </svg>
              <p><%= file.file.name %></p>
            </div>
            <div>
              <%= new Date(file.expiresAt).toLocaleDateString('en-GB', { year:
              'numeric', month: 'short', day: 'numeric', hour: 'numeric',
              minute: 'numeric', hour12: true }) %>
            </div>
            <div>
              <dialog>
                <div>
                  <p><%= url %>/download/shared/<%= file.file.id %></p>
                </div>
              </dialog>
              <button>View</button>
            </div>
            <div>
              <div>
                <dialog>
                  <form
                    action="/storage/shared/delete/<%= file.id %>"
                    method="POST"
                  >
                    <h4>Are you sure you want to unshare?</h4>
                    <button type="submit">Confirm</button>
                  </form>
                </dialog>
                <button>Unshare</button>
              </div>
              <div>
                <dialog class="details">
                  <div>
                    <p>Name: <%= file.file.name %></p>
                    <p>Type: <%= file.file.fileType %></p>
                    <p>Created at: <%= file.file.createdAt %></p>
                    <p>Last modified: <%= file.file.updatedAt %></p>
                    <p>Size: <%= file.file.size %></p>
                    <!-- Fixed typo from filefile.size to file.file.size -->
                  </div>
                </dialog>
                <button>More Details</button>
              </div>
            </div>
            <% }); %>
          </ul>

          <% } %>
        </div>
      </main>
    </div>
    <script>
      const dialogBoxes = document.querySelectorAll("dialog");
      dialogBoxes.forEach((box) => {
        const openBtn = box.nextElementSibling;
        openBtn.addEventListener("click", () => box.showModal());
      });

      function detailsReview(name, createdAt, updatedAt, shares, type, size) {
        console.log(name);
        console.log(createdAt);
        console.log(updatedAt);
        console.log(shares);
        console.log(type);
        console.log(size);
      }

      function toggleFolder(button) {
        button.classList.toggle("active");
        const folderContent =
          button.closest(".folder-header").nextElementSibling;
        folderContent.classList.toggle("collapsed");
      }
    </script>
  </body>
</html>
